@page
@model omg.Pages.assessments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>assessmentka</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.assessmentka.assessment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.assessmentka.assessment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.assessmentka.subject_taught_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.assessmentka.subject_taught_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.assessmentka.student_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.assessmentka.student_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.assessmentka.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.assessmentka.date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="assessmentka.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
