@page
@model omg.Pages.assessments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.assessmentka[0].assessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assessmentka[0].subject_taught_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assessmentka[0].student_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assessmentka[0].date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.assessmentka) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.assessment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject_taught_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
